/* This whole file is a piece of work. Don't judge me. */

.home {
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background: #272727;
  /* apply the blur */
}

.waitlistContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.headline {
  text-align: center;
}

.hocoLogo {
  width: 50%;
  max-width: 1000px;
  min-width: 400px;
}

.headlineText {
  margin-top: -3rem;
}

.waitlist {
  margin-top: 2rem;
}